* {
    font-family: consolas, courier, system-ui;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#content {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    color: rgb(90, 90, 90);
    padding: 15px;
    box-shadow: 6px 6px 10px whitesmoke;
}

.row {
    display: flex;
    flex-direction: row;
}

p {
    margin: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.active {
    color: white;
    text-shadow: 1px whitesmoke;
}

select {
    position: absolute;
    top: 100vh;
    left: 100vw;
    transform: translate(-200%, -200%);
}