* {
    /* the grid shape scales with changing the width */
    --normalwidth: 50px;
    /* but it does not when changing the margin */
    --normalmargin: calc(var(--normalwidth) / 15);
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    font-family: Helvetica, system-ui;
}

#content {
    width: min-content;
    height: min-content;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* keys */
.row > div {
    background-color: darkgray;
    width: var(--normalwidth);
    height: var(--normalwidth);
    margin: var(--normalmargin);
    border-radius: calc(var(--normalwidth) / 10);

    display: flex;
    justify-content: center;
    align-items: center;
}
.row > div > p {
    text-align: center;
    font-size: medium;
}

div.row:not(.sysrow) > div:not(.onehalf, .two, .twohalf, .sys) > p {
    font-size: calc(var(--normalwidth) / 2) !important;
}

/* pushed keys */
.pushed {
    background-color: rgb(50, 50, 50) !important;
    color: white !important;
}

/* speific key types */
.onehalf {
    width: calc(var(--normalwidth) * 1.5 + var(--normalmargin) * 3) !important;
}

.two {
    width: calc(var(--normalwidth) * 2 - var(--normalmargin)) !important;
}

.twohalf {
    width: calc(var(--normalwidth) * 2.5 - var(--normalmargin) * 5) !important;
}

.sys {
    background-color: black !important;
    color: rgb(90, 90, 90) !important;
}

#Space {
    width: calc(var(--normalwidth) * 9 - var(--normalmargin) * 7) !important;
}