/* font */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
* {
    font-family: 'Helvetica', Helvetica, system-ui, Arial;
}

/* body */
body {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

/* elements */
#word {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 5vw;
    height: 6vw;
}

input {
    width: calc(10vw - 6px);
    margin: 2.5vw;
    margin-bottom: 1vh;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
    height: 5vh;

    background-color: black;
    color: white;
    text-align: center;
}

.green {
    color: green;
}
.red {
    color:red;
}

#information {
    display: flex;
    align-items: center;
}

#information > p {
    color: grey;
    width: 10vw;
    margin: 1vh 2.5vw 1vh 2.5vw;
    text-align: center;
}

.correctValue {
    color: white !important;
}

#submitInfo {
    position: absolute;
    color: grey;
    text-align: center;
    width: calc( 5 * 10vw + 5 * 2 * 2.5vw );
}

/* hover effects */
input[type="button"]:hover {
    background-color: rgb(60, 60, 60);
}