:root {
  /* variables */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
  --sml-comp-height: 10vh;
  --mid-comp-height: 7.5vh;
  --big-comp-height: 5vh;

  --sml-comp-width: 75vw;
  --mid-comp-width: 50vw;
  --big-comp-width: 10vw;

  /* font */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: "Helvetica", Helvetica, system-ui, Arial;
}

/* NOTE: general classes and element styles */
body {
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.green {
  color: green;
}
.red {
  color: red;
}
.correctValue {
  color: white !important;
}

#content {
  width: min-content;
  margin-top: 5vh;
}
#inputs > input:last-child {
  margin-bottom: 0px;
}
input[type="button"]:focus,
input[type="button"]:hover {
  background-color: rgb(60, 60, 60);
}
#information > p {
  color: grey;
  text-align: center;
}
/* https://stackoverflow.com/questions/68463567/scroll-in-the-body-and-the-space-after-the-block */
/* the link helped me diagnose the issue */
#information > p:last-child {
  margin-bottom: 3vh !important;
  height: auto;
}

#submitInfo {
  position: fixed;
  z-index: 1;
  background-color: rgb(30, 30, 30);
  padding: 5vw;
  color: grey;
  text-align: center;
  border-radius: 10px;
  border: 1px solid grey;
  /* https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: 7px 7px 26px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 26px -4px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 26px -4px rgba(255, 255, 255, 1);
}
#submitInfo > button,
#menuCont > div > button {
  border-radius: 5px;
  padding: 2px 4px 2px 4px;

  border: 1px solid grey;
  background-color: black;
  color: white;
  text-align: center;
}
#submitInfo > button:hover,
#menuCont > div > button:hover {
  background-color: grey;
}
input[type="number"] {
  margin: 0px 0px 0px 0px;
  width: 50px;
  height: 25px;
}
#menuCont {
  z-index: 1;
  /* top: calc(100vh - var(--big-comp-height)); */
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
  width: 100%;
  height: var(--big-comp-height);
  border-bottom: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px 10px 0px 0px; */
}
#menuCont > div {
  display: flex;
  justify-content: center;
  flex: 1;
}
#menuCont > div > * {
  margin: 0px 20px 0px 20px;
}

/* dictionary */
#dictionaryCont {
  background-color: black;
  position: fixed;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  border-radius: 10px;
  flex-direction: column;
  /* top: 0px; */

  border-radius: 10px;
  border: 3px solid white;
  /* https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: 7px 7px 26px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 26px -4px rgba(255, 255, 255, 1);
  -moz-box-shadow: 3px 3px 26px -4px rgba(255, 255, 255, 1);
}
#searchbarCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchbarCont > input {
  min-width: 75%;
  margin: 10px 10px 10px 10px;
}
.close {
  margin-right: 10px !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close > p {
  cursor: pointer;
  margin: 5px;
}
.dictionary {
  width: 97vw;

  display: flex;
  flex-direction: row;
}
#dictionaryInfo {
  width: 100%;

  padding-right: 20px;
  width: fit-content;
  border-right: 1px solid grey;
}
#dictionaryInfo > div {
  margin: 0px !important;
  padding-bottom: 10px;
}
#dictionary {
  width: 100%;
  height: 50vh;

  overflow-x: scroll;
  display: flex;
  overflow-y: hidden;
  flex-direction: row;
}
#dictionary > div,
#dictionaryInfo > div {
  width: 100%;
  display: flex;
  padding: 10px 0px 10px 0px;

  flex-direction: column;
  height: 100%;
}
#dictionary > div > div,
#dictionaryInfo > div > div {
  flex: 1;
  text-align: center;
  margin: 0px 5px 0px 5px;
  height: auto;
  text-wrap: nowrap;
  width: auto;
}
#dictionary > div > div > p,
#dictionaryInfo > div > div > p {
  margin: 0px;
  text-align: center;
  height: min-content;
  color: rgb(225, 225, 225);
}
p > b {
  color: white;
  text-decoration: underline;
}
.tableRow {
  background-color: #151515;
}
.kukucs {
  position: fixed !important;
  top: var(--big-comp-height) !important;
}

/* NOTE: mobile layout, or to browsers with no @media query */

#word {
  text-align: center;
  width: var(--sml-comp-width);
  height: var(--sml-comp-height);
  font-size: calc(var(--sml-comp-height) * 0.5);
  font-weight: bold;
  margin: calc(var(--sml-comp-height) / 4) 0px calc(var(--sml-comp-height) / 4)
    0px;
  text-wrap: nowrap;
}

input {
  border-radius: 5px;
  padding: 0px 2px 0px 2px;

  border: 1px solid grey;
  background-color: black;
  color: white;
  text-align: center;

  width: calc(var(--sml-comp-width) - 6px);
  margin-bottom: calc(var(--sml-comp-height) + 2vh);
  height: calc(var(--sml-comp-height) - 2px);
}

#information {
  top: calc(
    var(--sml-comp-height) + (var(--sml-comp-height) / 2) +
      var(--sml-comp-height) - 2px + (var(--sml-comp-height) / 2) + 5vh
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  pointer-events: none;
}
#information > p {
  margin: 0px;
  height: calc(var(--sml-comp-height) - 2px);
  transform: translateY(-10%);
  width: var(--sml-comp-width);
  margin-bottom: calc(2vh + var(--sml-comp-height));
}

/* NOTE: tablet layout from 600px width to 1000px width */
/* https://www.w3schools.com/cssref/css3_pr_mediaquery.php */
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #word {
    width: var(--mid-comp-width);
    font-size: calc(var(--mid-comp-height) * 0.75);
    font-weight: bold;
    height: var(--mid-comp-height);
    margin: calc(var(--mid-comp-height) / 4) 0px
      calc(var(--mid-comp-height) / 4) 0px;
  }
  input {
    width: calc(var(--mid-comp-width) - 6px);
    margin-bottom: calc(2vh + var(--mid-comp-height));
    height: calc(var(--mid-comp-height) - 2px);
  }
  #information {
    top: calc(
      var(--mid-comp-height) + calc(var(--mid-comp-height) / 2) +
        calc(var(--mid-comp-height) - 2px) + calc(var(--mid-comp-height) / 2) +
        5vh
    );
  }
  #information > p {
    margin: 0px;
    height: calc(var(--mid-comp-height) - 2px);
    transform: translateY(-10%);
    width: var(--mid-comp-width);
    margin-bottom: calc(2vh + var(--mid-comp-height));
  }
  #submitinfo {
    width: 50vw;
  }
}

/* NOTE: desktop layout */
@media screen and (min-width: 1000px) {
  body {
    overflow-y: hidden;
    height: 100vh;
  }
  #word {
    font-size: var(--big-comp-height);
    height: var(--big-comp-height);
    font-weight: normal;
    margin: 0px 0px var(--big-comp-height) 0px;
  }
  input {
    width: calc(var(--big-comp-width) - 6px);
    margin: calc(var(--big-comp-width) / 4);
    margin-bottom: 1vh;
    height: var(--big-comp-height);
  }
  #information {
    position: inherit;
    align-items: normal;
    flex-direction: row;
    justify-content: center;
  }
  #information > p {
    height: fit-content;
    width: var(--big-comp-width);
    margin: 1vh calc(var(--big-comp-width) / 4) 1vh
      calc(var(--big-comp-width) / 4);
    transform: translate(0px, 0px);
  }
  #menuCont {
    position: absolute;
  }
  /* original dictionary */
  .dictionary {
    display: block;
  }
  #dictionary {
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
  }

  #dictionaryInfo > div {
    border-bottom: 1px solid grey;
  }
  #dictionary > div,
  #dictionaryInfo > div {
    flex-direction: row;
  }
  #dictionaryInfo {
    width: 100% !important;
  }
}
